@font-face {
    font-family: 'Play';
    src: url('../fonts/FreePixel.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

html {
    width: 100%;
    font-family: 'Play';
}

body {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#banner {
    margin-top: 30px;
}

canvas {
    display: block;
    margin: 0vh auto;
    background-color: #000;
}